name: CI

env:
  # configure corepack
  COREPACK_DEFAULT_TO_LATEST: 0
  COREPACK_ENABLE_AUTO_PIN: 0
  # configure yarn
  YARN_ENABLE_IMMUTABLE_INSTALLS: 'false'

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'

jobs:
  test:
    name: Test
    timeout-minutes: 5
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node: [20]
        os: [ubuntu-latest, macos-latest, windows-latest]
        pm: ["pnpm@10"]
        include:
          - node: 22
            os: ubuntu-latest
            pm: "pnpm@10"
          - node: 22
            os: ubuntu-latest
            pm: "yarn@4"
          - node: 22
            os: ubuntu-latest
            pm: "npm@10"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      # Install latest corepack to workaround https://github.com/nodejs/corepack/issues/612
      # This can be removed when we only test against Node 22.14 and above
      - run: npm install --global corepack@latest
      - run: corepack enable
      - name: Install dependencies
        run: corepack ${{matrix.pm}} install

      - name: Test
        run: corepack ${{matrix.pm}} test
